.heading{
	
	color:#ff0000;
	background-color:#ffff00;
	padding:10px
}
td{
	
	width:100;
	height:100;
	border:0.2px grey solid;
	border-radius:5px;
	
}
body{
	margin:0px;
	padding: 0px;
}
button{
	border-radius:5px;
	margin:20px;
	background-color:#90ee90;
	border:none;
}
table{
	width:80%;
	height:50%;
	max-width:300px;
	min-height:100px;
}