.heading{
	
	color:#ff0000;
	background-color:#ffff00;
	padding:10px;
	font-size:calc(1vw + 0.4rem);
	
}
td{
	
	width:10vw;
	height:15vh;
	border:0.2px grey solid;
	border-radius:5px;
	
	
}
body{
	margin:0px;
	padding: 0px;
}
button{
	border-radius:5px;
	margin:20px;
	background-color:#90ee90;
	border:none;
	width:30vw;
	height:3vw;
}
