.heading{
	color:#ff0000;
	background-color:#ffff00;
	padding:10px;
	font-size:calc(1vw + 0.4rem);
}
td{
	width:min(10vw,10vh);
	height:min(15vh , 15vw);
	border:1px black solid;
	border-radius:5px;
}
body{
	margin:0px;
	padding: 0px;
}
button{
	border-radius:5px;
	margin:20px;
	background-color:#90ee90;
	border:none;
	width:max(30vw , 150px);
	height:max(3vw , 20px);
	box-shadow : 0 7px #999;
}
button:hover{
	background-color: #00ff00;
}
button:active{
	background-color : #90ee90;
	box-shadow : 0 2px #666;
	transform : translateY(5px);
}
